{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ service.type }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ service.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>Endpoint</th>
                <td>{{ service.endpoint }}</td>
            </tr>
            <tr>
                <th>AuthMethod</th>
                <td>{{ service.authMethod }}</td>
            </tr>
            <tr>
                <th>Method</th>
                <td>{{ service.method }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ service.format }}</td>
            </tr>
            <tr>
                <th>Direction</th>
                <td>{{ service.direction }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_service_index') }}">back to list</a>

    <a href="{{ path('app_service_edit', {'id': service.id}) }}">edit</a>

    {{ include('design/service/_delete_form.html.twig') }}
{% endblock %}
