{# 
  Paramètres requis :
  - icon : string (ex: '📸')
  - title : string (ex: 'Capture')
  - groups : array de blocs { label: string, links: [ { label, route } ] }
#}

<div class="navbar-section">
  <div class="section-title">
    <span class="icon">{{ icon }}</span> {{ title }}
  </div>

  {% for group in groups %}
    <div class="subsection-title">{{ group.label }}</div>
    <ul class="nav flex-column">
      {% for link in group.links %}
        <li>
          <a class="nav-link" href="{{ path(link.route) }}">{{ link.label }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
