{% extends 'base.html.twig' %}

{% block title %}Mapping index{% endblock %}

{% block body %}
    <h1>Mapping index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>SourceKeyColumn</th>
                <th>TargetKeyColumn</th>
                <th>Mappings</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mapping in mappings %}
            <tr>
                <td>{{ mapping.id }}</td>
                <td>{{ mapping.name }}</td>
                <td>{{ mapping.description }}</td>
                <td>{{ mapping.sourceKeyColumn }}</td>
                <td>{{ mapping.targetKeyColumn }}</td>
                <td>{{ mapping.mappings ? mapping.mappings|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_mapping_show', {'id': mapping.id}) }}">show</a>
                    <a href="{{ path('app_mapping_edit', {'id': mapping.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mapping_new') }}">Create new</a>
{% endblock %}
