{% set disabled = disabled ?? false %}
{{ form_start(form, { attr: { class: 'needs-validation' } }) }}
<fieldset {{ disabled ? 'disabled' }}>

<div class="d-flex gap-4">
  <div class="flex-grow-1">
    {{ form_row(form.name, {
        label_attr: { class: 'form-label fw-semibold' },
        attr: { class: 'form-control' }
    }) }}
  </div>
  <div style="min-width: 200px;">
    {{ form_row(form.answerType, {
        label_attr: { class: 'form-label fw-semibold' },
        attr: { class: 'form-select' }
    }) }}
  </div>
  <div style="min-width: 200px;">
    {{ form_row(form.category, {
        label_attr: { class: 'form-label fw-semibold' },
        attr: { class: 'form-select' }
    }) }}
  </div>
</div>


<div class="mb-3">
	{{ form_row(form.content, {
            label_attr: { class: 'form-label fw-semibold' },
            attr: { class: 'form-control', rows: 3 }
        }) }}
</div>


<div id="proposed-block" style="display: none;">
	<div class="mb-3">
		{{ form_row(form.multipleChoice, {
                label_attr: { class: 'form-check-label' },
                row_attr: { class: 'form-check' },
                attr: { class: 'form-check-input' }
            }) }}
	</div>

	<div data-collection-holder data-prototype="{{ form_widget(form.proposals.vars.prototype)|e('html_attr') }}">
		{% for proposal in form.proposals %}
			<div class="proposal-item mb-2 d-flex align-items-center gap-3">
				<div class="flex-grow-1">
					{{ form_widget(proposal.content, { attr: { class: 'form-control' } }) }}
				</div>
				<button type="button" class="btn btn-outline-danger btn-sm remove-proposal btn-icon" title="Supprimer">
					<i class="bi bi-trash"></i>
				</button>
			</div>
		{% endfor %}
		<button type="button" data-add-proposal class="btn btn-outline-primary mt-2">
			<i class="bi bi-plus"></i>
			Ajouter une proposition
		</button>
	</div>
</div>

</fieldset>

{% if not disabled %}
    {{ include('components/button/_btn_save.html.twig') }}
{% endif %}
{{ form_end(form) }}
