{% extends 'base.html.twig' %}

{% block title %}TutorialStep{% endblock %}

{% block body %}
    <h1>TutorialStep</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tutorial_step.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ tutorial_step.number }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ tutorial_step.content }}</td>
            </tr>
            <tr>
                <th>DomElement</th>
                <td>{{ tutorial_step.domElement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tutorial_step_index') }}">back to list</a>

    <a href="{{ path('app_tutorial_step_edit', {'id': tutorial_step.id}) }}">edit</a>

    {{ include('tutorial_step/_delete_form.html.twig') }}
{% endblock %}
